<app-header></app-header>


<div class="main-content">
    <div class="header-content">
        <div class="emp-detail-text">
            Employee Details <div class="emp-count">{{employeeCount}}</div>
        </div>
        <a class="add-button" routerLink="/add-user">+ Add User</a>
    </div>

    <div class="table-main">
        <table id="table-display" class="table">

            <thead>
                <tr>
                    <th>Pic</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Department</th>
                    <th>Salary</th>
                    <th>Start Date</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let employee of employeeList">
                    <td>
                        <img class="profile" src="{{employee.profilePic}}" alt="">
                    </td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.gender}}</td>
                    <td>
                        <div class="dept-label" *ngFor="let department of employee.department">
                            {{department}}
                        </div>
                    </td>
                    <td>{{employee.salary}}</td>
                    <td>{{employee.startDate}}</td>
                    <td>
                        <img id="" src="../../assets/icons/delete.pn" alt="delete">
                        &nbsp;
                        <img id="" src="../../assets/icons/edit.pn" alt="edit">
                    </td>
                </tr>

            </tbody>

        </table>
    </div>
</div>