<app-header></app-header>


<div class="main-content">
    <div class="header-content">
        <div class="emp-detail-text">
            Employee Details
        </div>
        <a class="add-button" routerLink="/add-user">
            + Add User</a>
    </div>

    <div class="table-main">
        <table id="table-display" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Department</th>
                    <th>Salary</th>
                    <th>Start Date</th>
                    <th>Actions</th>
                </tr>
            </thead>


            <tbody>
                <tr>
                    <td>
                        <img class="profile" src="../../../assets/images/Ellipse -3.png" alt="">
                    </td>
                    <td>Rutuja</td>
                    <td>Female</td>
                    <td>
                        <div class="dept-label">
                            HR
                        </div>
                    </td>
                    <td>50000</td>
                    <td>20/7/2012</td>
                    <td>
                        <img class="icons" src="/../../assets/delete.png" alt="delete">
                        &nbsp;
                        <img class="icons" src="/../../assets/edit.png" alt="edit">
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>